# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
db.sqlite3
media/
staticfiles/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Virtual environments
venv/
.env
.venv
ENV/

# Editors
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Development certs
# We exclude the certs directory because we mount it instead
# certs/

# Log files
*.log

# Testing & coverage
.coverage
.coverage.*
htmlcov/