{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
    {% if show_ai_editor_button %}
    <li>
        <a href="{% url 'admin:blog_ai_editor' %}" class="btn btn-primary" style="margin-right: 5px;">
            AI Blog Editor
        </a>
    </li>
    {% endif %}
    
    {% if show_ai_generator_button %}
    <li>
        <a href="{% url 'admin:blog_ai_post_generator' %}" class="btn btn-success">
            AI-AutoCreate
        </a>
    </li>
    {% endif %}
    
    {{ block.super }}
{% endblock %}